.MyBookings-msg-btn {
    margin-bottom: 0;
    height: 80px;
    width: 200px;
    font-size: 1.5em;
    font-family: 'Fredoka One', cursive;
    color:#FAF0CA;
    background-color: #F95738;
    border-radius: 40px;
    border: none;
}

.MyBookings-msg-btn:hover {
    margin-bottom: 0;
    height: 80px;
    width: 200px;
    font-size: 1.5em;
    font-family: 'Fredoka One', cursive;
    color:#FAF0CA;
    background-color: #0D3B66;
    border-radius: 40px;
    border: none;
}

.MyBookingsPage {
    margin: 3% 10% 5% 10%;
    padding: 3%;
    border: 3px solid #F4D35E;
    border-radius: 15px;
}

.MyBookings-title {
    font-size: 3em;
}