.SearchBar {
    margin: 5% 0% 2% 0%;;
}

.SearchBar-button {
 background-color: #F95738;
 height: 50px;
 width: 10%;
 min-width: 100px;
 margin-left: 2px;
 margin-bottom: 0.5%;;
 border-radius: 0 25px 25px  0;
 border: 2px solid #F95738;
 text-align: center;
 color: white;
}


.SearchBar-input {
    padding-left: 20px;
    height: 50px;
    width: 70%;
    border-radius:  25px 0 0  25px;
    border: 2px solid #F95738;
}